#executables and libraries
*.so
*.out
*.exe
*.app

#objects and other compiled files
moc_*
*.o
.qmake.stash
Makefile
LongQt
LongQtGrapher
LQGridEditor
build/*

#data files and temp text editor files
data*/
defaultTrials/
*.swp
*.swo

#qt creator
*.pro.user*

#kdev files
.kdev4/
*.kdev4

#precompiled version
versions

#docs
site/
