#executables and libraries
*.so
*.out
*.exe
*.app

#objects and other compiled files
moc_*
*.o
.qmake.stash
MyConcurrentModel.app/
moc_dialog.cpp
moc_myoutput.cpp
ui_dialog.h
Makefile

#temporary modellib folers for merging
modellib/modelnew/
modellib/modelold/

#data files and temp text editor files
data/
*.txt
*.swp

#testing utils
test.pro
main_test.cpp

#.gitignore
MyConcurrentModel.pro.user
